body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfcaa0;
}
.container {
    width: 100%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d1f7c4;
    padding: 10px;
}
button {
    background-color: #fffde7;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #085a45;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #fffde7;
}
.attendance-buttons button {
    margin-right: 5px;
}
