<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Section List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/section_list.css') }}" />
</head>
<body>
  <div class="title-bar">
    <div class="title-left">
      <i class="fa-solid fa-rectangle-list"></i>
      <h1>SECTION LIST</h1>
    </div>
    <div class="button-bar">
      <a href="javascript:window.history.back();" class="back-icon">
        <i class="fa-solid fa-circle-left"></i>
      </a>
      <a href="{{ url_for('auth.create_section') }}" class="create-icon">
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
  </div>


  <div class="overlay">
    <div class="section-list">
      {% for section in sections %}
        <a href="{{ url_for('auth.view_final_attendance', section_id=section.id) }}" class="section-btn">
          {{ section.name }}
        </a>
      {% endfor %}
    </div>
  </div>
</body>
</html>
